.nav_bar{
    background-color: #eece94;
    width: 100%;
    height: 50px;
  
}
.contanir_nav{
    display: flex;
    align-items: center;
    justify-content: center;
text-align: center;
}

.nav_bar {
    background-color: #eece94;
    padding: 10px 0;
  }
  
  .container_nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
  
  .nav-link {
    color: #333;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 1rem;
    transition: color 0.3s ease;
  }
  
.contanir_nav a{
    line-height: 30px;
    color: #000;
    cursor: pointer;
    font-size: 18px;
   }
  
  .nav-link:hover, .nav-link.active {
    color: #007bff;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .container_nav {
      flex-direction: column;
      align-items: center;
    }
  }
  